*{margin: 0; }
ol,ul,li{list-style: none;}
a{outline: 0; text-decoration: none; color:#555;}
img{border: 0;}

body{ width:1200px; margin: 100px auto 0; padding: 0; display: block; list-style: none;  background-image: linear-gradient(120deg,#3498db,#8e44ad); min-height:89vh;}

h1{text-align: center; background-image: linear-gradient(180deg,#3498db,#2a709e); font-size: 18px;  color: white; line-height: 35px;font-weight: bold;}
button{cursor: pointer;}

.wjdduf{width: 1200px; background: #f1f1f1; margin-top: 40px;}
.wjddu{width: 1000px; margin: 0 auto;}
.zmrl{width: 1000px; margin: 0 auto;}

.rptlvks{padding: 20px 0 0; float: left;width: 750px;}
.rptlvks > div{float: left; padding: 0 20px 0 0;}
.tpqn1{height: 35px; width: 100px; border: 1px solid blue;outline: none; padding: 0 10px;}

.wpahr{padding: 10px 10px; float: left;width: 620px;}
.wpahr > div{float: left; }        
.wpahrdlqfur > input{font-size: 16px; width: 500px; padding: 5px; border: 1px solid blue;outline: none; margin-left: 25px;}

.cjaqnvkdlf{ float: left;width: 750px;}
.cjaqnvkdlf > div{float: left; padding: 0 20px 0 0;}  

button{ width: 60px; height: 30px; border: 0px; background: #1b5ac2; outline: none; float: left;}

.rksrur{width: 130px; float: left;}

.rksrur > input[type="file"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
    
.rksrur > label { display: inline-block; padding: 5px 10px;; color: #fff; font-weight: bold; background-image: linear-gradient(-220deg,#3498db,#8e44ad); border-radius: 6px; cursor: pointer; width:30%; margin-bottom:3px; text-align: center;}

button:last-of-type{float: right;}
button>a{color: white;}
.back{color: white;  cursor: pointer;}

.logo>a>img{width: 25%; position: absolute; right: 50px; top: 190px;}


.noresize {position: relative; top: 20px; width: 1000px;
        height: 480px;
         resize: none; /*사용자 임의 변경 불가 */
        /* resize: both; /* 사용자 변경이 모두 가능 */
        /*resize: horizontal; /* 좌우만 가능 */
        /*resize: vertical; /* 상하만 가능 */ 
         }
.gkeks{width: 1000px; height: 50px; background-color: #f1f1f1; padding-top: 40px;}
.gkeks > div> button{width: 80px; height: 40px;}
.rksrur_bottom_left{float: left;}
.rksrur_bottom_right{float: right; position: relative;}

.rksrur_bottom_right>button:first-of-type{background-color: #555}