* {
margin:0; padding:0;
text-decoration: none;
font-family:sans-serif;
}
ol,ul{list-style: none;}
a {outline:0; text-decoration-line: none;}
img {border:0;}
A:link {text-decoration:none; color:black;}
A:visited {text-decoration:none; color:black;}
A:active {text-decoration:none; color:cornflowerblue;}
A:hover {text-decoration:none; color:cornflowerblue;}

body{
    font-size:15px;
    position:relative;
    height:100%;
    min-height:100vh;
    background-image: linear-gradient(120deg,#3498db,#8e44ad);

}
.content{
    /* width:970px;
    height: 650px; */
    width: 1200px;
    height: 960px;
    background: #f1f1f1;
    border-radius: 10px;
    position: absolute;
    left:50%;
    top:50%;
    transform : translate(-50%, -50%);
    /* height:100%; */
    /* position: relative; */
    margin:0 auto;
}
.content .docName{
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(180deg,#3498db,#2a709e);
    font-weight: bold;
    color:#fff;
    
}
.content .docName > h1{
    font-size:18px;
}


/*docList.html*/
/*문서 종류, 검색값, 검색 버튼*/
.content .deptContent{
    /* margin:15px 150px; */
    margin-top:50px;
    position: absolute;
    left: 50%;
    transform : translate(-50%);
    width:1060px;
    height:715px;
}
.deptContent select{
    height:30px; outline: none;
}
.deptContent .searchInput{
    width:200px; height:24px; padding-top:2px; margin:0 -4.5px;outline: none;
}
/*문서 리스트*/
.deptContent .docListTable{
    width: 700px;
    table-layout: fixed;
    text-align: center;
    border: 1px inset #52a7e0;
    border-collapse: collapse; margin:10px 0
}
.deptContent .docListTable tr:first-child th{
    color:#fff;
}

.deptContent .docListTable tr{
    height:40px;
}
.deptContent .docListTable tr th{
    background-image: linear-gradient(180deg,#3498db,#2a709e);
}
.deptContent .docListTable tr td{
    overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
  background-color:white;
}
/*문서 페이지, 작성 버튼*/
.deptContent .pageButtonsCreatedoc{
    text-align: center; position:relative; height:40px; line-height: 40px;
}
.deptContent .pageButtonsCreatedoc a{
    margin:0 5px;
    font-size: 1.3em;
}
.deptContent .docCreate{
    /* position:absolute; right:-10px; top:5px; padding:5px; */
    position:absolute; right:0px; padding:5px;
}
/*//docList.html*/


/*vacation.html*/
/*문서 선택*/
.content .docSelecter{
    position: absolute;
    left:170px;
    /* top:10px; */
    top: 200px;
    width:120px;height:35px;
}
/*결재 테이블*/
.content .signtable{
    overflow:hidden;
    margin:0 100px;
}

.content .signtable td{
    background-color:white;
}
.content > .deptContent > .signtable >table{
    border: 1px inset #52a7e0;
    border-collapse: collapse;
}
.content > .deptContent > .signtable >table th{
    background-image: linear-gradient(180deg,#3498db,#2a709e);
    padding: 5px 10px;
    border: 1px inset #52a7e0;
    color:white;
}
.content > .deptContent > .signtable >table td{
    padding: 5px 10px;
    border: 1px inset #52a7e0;
    text-align: center;
}
.content .signtable > .signtableleft{
    height:120px;
    float:left;
}

.content .signtable > .signtableleft tr th{
    width:50px;
}
.content .signtable > .signtableleft tr td{
    width:110px;
}

.content .signtable > .signtableright{
    float:right;
    text-align: center;
}
.content .signtable > .signtableright tr th{
    width:100px;
}

.content .signtable > .signtableright tr td{
    height:30px;
}
.content .signtable > .signtableright tr:nth-child(2) {
    height:50px
}

/*제목 및 등록 수정 버튼 등*/
.inputarea{
    margin:0 100px;
    margin-top:20px;
    position:relative;
}

.inputarea .selectedDay{
    background-color:white;
}

.inputarea .inputTitle{
    width:850px;
    height:35px;
}
.inputarea .inputContent{
    resize: none;
    width:850px;
    height:250px;
}

.inputarea div{
    position:relative;
    height:40px; line-height: 40px;

    float: right;
    padding-bottom: 10px;
    right: 25px;
}
/* .inputarea div{
    position:absolute; right:20px; padding:5px;
} */

.inputarea div button{
padding:5px;
margin:0 3px;
}

/*달력*/
.wrap { width: 500px; margin: 0 auto; }
.btn-holder { text-align: center; margin: 10px 0 10px 0; }
#calendar table { border-collapse: collapse; text-align: center; }
#calendar table thead td { height: 30px; font-weight: bold; }
#calendar table td { border: solid 1px #000; }
#calendar table td.date-cell { height: 50px; }
#calendar table td.sun { color: red; }
#calendar table td.sat { color: blue; }
#calendar table td.not-this-month { background: #ddd; color: #999; }